.main-div {
  display: flex;
  clear: both;
  box-sizing: border-box;
  padding: 25px 50px 30px 100px;
}
.img-div {
  width: 30%;
}
.info-div {
  width: 40%;
  padding-top: 15px;
}
.info-imgs {
  float: right;
}
.img-mmt {
  height: 25px;
}
:where(header, main, footer, .info-img) {
  height: 25%;
  padding: 10px;
  padding-top: 15px;
}
.header {
  font-weight: 900;
}
.head-rating{
  line-height: normal;
    display: inline-block;
    color: #fff;
    padding: 2px 4px 2px 6px;
    border-radius: 3px;
    font-weight: 500;
    font-size: 12px;
    vertical-align: middle;
    background-color: #388e3c;
}
.main {
  padding-top: 15px;
  position: relative;
  font-size: 12px;
  line-height: 12px;
}
.category {
  display: inline-flex;
  padding: 5px 7px 10px 0px;
  margin-right: 5px;
  border-radius: 4px;
  background: #ebebeb;
  font-size: 11px;
  font-weight: 700;
  color: #4a4a4a;
  flex-shrink: 0;
}
.footer {
  display: inline-flex;
  align-items: center;
  margin-right: 15px;
  font-size: 12px;
  color: #4a4a4a;
  flex-shrink: 0;
  padding-right: 10px;
}
:where(footer1, footer2, footer3) {
  padding-right: 15px;
}
.sec-div {
  width: 30%;
  text-align: right;
}
:where(.disc-amt,.disc-perc,.sec-price,.sec-btn){
  height: 25px;
  box-sizing: border-box;
}
.disc-amt {
  color: #4a4a4a;
  align-items: center;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
}
.disc-perc {
  align-items: center;
  color: #eb2026;
  font-weight: 700;
  font-size: 12px;
  line-height: 12px;
  
}
.sec-price {
  height: 20%;
  font-weight: 900;
  font-size: 19px;
  line-height: 26px;
}
.sec-btn {
  height: 30%;
  padding-top:50px;
}
.btn-book {
  border-radius: 34px;
  background-image: linear-gradient(96deg, #53b2fe, #065af3);
  box-shadow: 0 1px 7px 0 rgb(0 0 0 / 20%);
  display: inline-block;
  flex-shrink: 0;
  color: #fff;
  text-transform: uppercase;
  cursor: pointer;
  outline: 0;
  border: 0;
  text-align: center;
}
